.navbar a {
float: right;
text-align: center;
padding: 25px 15px 22px 15px;
text-decoration: none;
font-size: 20px;
}
.navbar{
/*background-color:*/
border: solid 3px black;
border-radius: 8px;
margin:auto
}
.nav-buttons {
    display: flex;
    justify-content: center;
    margin: 70px;
}
.nav-buttons button {
    margin: 0 10px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
}
.back {
    margin-bottom: 20px;
    display: block;
    color: #333;
    font-size: 20px;
    position: fixed;
    border: solid 3px black;
    border-radius: 8px;
}
.back a {
    text-decoration: none;
    color: #333;
}
/*body {
    margin: 10px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}*/
/*header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/
main {
    text-align: center;
    margin: 50px auto;
}
.mark {
    display: inline-block;
    padding: 10px 10px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    font-size: 16px;   
}
#Correct {
    background-color: lightgreen;
    border: solid 3px green;
    font-size: 20px;
    border-radius: 8px;
}
#Incorrect {
    background-color: lightcoral;
    border: solid 3px red;
    font-size: 21px;
    border-radius: 8px;
;
}
.mark-buttons {
    display: flex;
    justify-content: space-between;
}
.study-foot {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}